body {
	
	color:#000305;
	font-size:80%;
	font-family: "Lucida Sans Unicode";
	line-height: 1.5;
	text-align: left;
	margin: 0 auto;
	width: 75%;
	clear: both;
}

a:link, a:visited {

	color:#1a94d6;
	
}

a:hover, a:active {

	color: #797979;

}

.logo {

	padding:5px;

}

.login {

	text-align:right;
	padding:10px;
	float:right;	

}
.login a:link, 
.login a:visited {
	
	color:#04bae3;
	display: inline-block;
	height: 20px;

}

.nav {

	background-color: #797979;
	height: 40px;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-mor-border-radius: 7px;
}

.nav ul {

	list-style:none;
	margin: 0 auto;

}

.nav ul li {

	float:left;
	display:inline;

}

.nav a:link, a:visited {

	color: #fff;
	display: inline-block;
	padding: 10px 25px;
	height: 20px;

}

.nav ul li .active a:link,
.nav ul li .active a:visited,
.nav ul li a:hover,
.nav ul li a:active {

	background-color: #04bae3;
	text-shadow:none;

}

.content_title {
	
	padding: 10px 25px;
	font-size:150%;

}

.content {

	padding: 10px 25px;
}

.errorlist {

	list-style:none;
	background-color:#DD1144;
	padding:5px;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-mor-border-radius: 7px;
}