body {
	
	padding-top: 40px;
	padding-bottom: 40px;
    background-color: #f5f5f5;
	color:#000305;
	font-size:80%;
	font-family: "Lucida Sans Unicode";
	line-height: 1.5;
	text-align: left;
	margin: 0 auto;
	width: 75%;
	clear: both;
}

a:link, a:visited {

	color:#1a94d6;
	
}

a:hover, a:active {

	color: #797979;

}

.logo {

	padding:5px;

}

.login {

	text-align:right;
	padding:10px;
	float:right;	

}
.login a:link, 
.login a:visited {
	
	color:#04bae3;
	display: inline-block;
	height: 20px;

}

.nav {

	background-color: #797979;
	height: 40px;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-mor-border-radius: 7px;
}

.nav ul {

	list-style:none;
	margin: 0 auto;

}

.nav ul li {

	float:left;
	display:inline;

}

.nav a:link, a:visited {

	color: #fff;
	display: inline-block;
	padding: 10px 25px;
	height: 20px;

}

.nav ul li .active a:link,
.nav ul li .active a:visited,
.nav ul li a:hover,
.nav ul li a:active {

	background-color: #04bae3;
	text-shadow:none;

}

.content_title {
	
	padding: 10px 25px;
	font-size:150%;

}

.content {

	padding: 10px 25px;
}

.errorlist {

	list-style:none;
	background-color:#DD1144;
	padding:5px;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-mor-border-radius: 7px;
}

.block-center {
     max-width: 500px;
     padding: 19px 29px 29px;
     margin: 0 auto 20px;
     background-color: #fff;
     border: 1px solid #e5e5e5;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.block-center .block-center-heading {
        margin-bottom: 10px;
}