{% extends "paySystem/base.html" %}

{% load i18n %}
{% load url from future %}
{% block title %}
{% trans "Are you sure to delete the application" %} {{ application.name }}?
{% endblock title %}
{% block content %}
    
        {% trans "Are you sure to delete the application" %} {{ application.name }}
        <form method="post" action="{% url 'oauth2_provider:delete' application.pk %}">
            {% csrf_token %}

            <div class="control-group">
                <div class="controls">
                    <a class="btn btn-large" href="{% url "oauth2_provider:list" %}">{% trans "Cancel" %}</a>
                    <input type="submit" class="btn btn-large btn-danger" name="allow" value="{% trans "Delete" %}"/>
                </div>
            </div>
        </form>
   
{% endblock content %}