{% extends "paySystem/base.html" %}

{% block title %}Home - NFCPaySystem{% endblock %}

{% block home %}active{% endblock %}

{% block nav %}
	{% if user.is_consumer %}
			<ul>
				<li><a href="{{ user.username }}/invoices">Invoices</a></li>
			{% if user.is_superuser %}
				<li style="float:right"><a href="/admin">Admin</a></li>
			{% endif %}
			{% if user.is_active %}
				<li style="float:right"><a href="{{ user.username }}">Profile</a></li>
			{% endif %}
			
			</ul>
	{% endif %}
{% endblock %}

{% block content_title %}
Welcome
{% endblock %}

{% block content %}
{% endblock %}


